<ndp-description>
  <ng-container *ndpDescriptionTitle>Resume</ng-container>
  <ng-container *ndpDescriptionContent>
    Full Stack Developer with a strong foundation in TypeScript and JavaScript,
    interested in software design, software architecture and clean code. Skilled
    in frameworks like ExpressJS, Angular, and React. Proficient in working with
    databases SQL and NoSQL. Strong problem-solving abilities and a passion for
    creating robust, flexible and maintainable web applications. Eager to tackle
    new cognitive challenges and committed to continuous learning. Embraces
    collaborative environments and believes in the power of teamwork and
    interactive learning.
  </ng-container>
</ndp-description>
