@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

$orbitron-weight: (
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'extrabold': 800,
  'black': 900,
);

@each $weight, $value in $orbitron-weight {
  .font-orbitron-#{$weight} {
    font-family: 'Orbitron', sans-serif;
    font-optical-sizing: auto;
    font-weight: $value;
    font-style: normal;
  }
}
