<ndp-description>
  <ng-container *ndpDescriptionTitle>Stack</ng-container>
  <ng-container *ndpDescriptionSubtitle>Technologies</ng-container>
  <ng-container *ndpDescriptionContent>
    Welcome to the tech stack section, a casual look into the tools and
    technologies that play a crucial role in my web development journey. My
    stack is like the backstage crew, quietly supporting each project. It's a
    mix of backend frameworks and frontend libraries working together
    harmoniously. Embracing a variety of technologies allows me to approach
    challenges with flexibility and a touch of creativity. Join me in this tech
    journey, where every line of code contributes to a laid-back yet dynamic
    development environment.
  </ng-container>
</ndp-description>
