$cyan: #00ffff;
$mint: #4cefaf;
$mint-light: #64fcc3;
$leaf: #298c71;
$violet: #c143fc;
$fucsia: #ba0b8b;
$dark-gray: #2a2933;
$dark-gray-transparent: #15141bbf;
$primary-gradient: linear-gradient($cyan, $violet);
$secondary-gradient: linear-gradient($fucsia, $mint-light);
$primary-shadow: 0px 0px 3px 2px $mint-light;
